* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/*
  font-family: 'Jura', sans-serif;
  font-family: 'Montserrat', sans-serif;
  */
@import url('https://fonts.googleapis.com/css2?family=Jura&family=Montserrat:wght@300;400;500&display=swap');

body {
    background-color: #161427;
    height: 100%;
}

.wrapper {
    max-width: 1280px;
    min-height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    border: 0.5px solid #F6F6F6;
    

    header {
        margin: 130px auto;

        .header-title {
            color: #F6F6F6;
            font-family: Jura;
            font-size: 64px;

        }
    }

    nav {
        ul {
            margin: 0 30px;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;

            li {
                padding: 10px;
                margin: 20px;
                border: 0.5px solid #F6F6F6;
                border-radius: 20px;

                a {
                    display: flex;
                    flex-direction: column;

                    .nav-title {
                        color: #F6F6F6;
                        font-family: Montserrat;
                        font-size: 20px;
                        padding: 20px 0 0 0;
                    }

                }
            }
        }
    }
}

@media all and (max-width: 780px) {
    .wrapper {
        max-width: 760px;

        header {
            margin: 20px auto 30px;

            .header-title {
                font-size: 44px;
            }
        }

        nav {
            ul {
                margin: 0 10px;

                li {
                    padding: 10px;
                    margin: 10px;
                    max-width: 100px;

                    a {

                        .nav-title {

                            font-size: 15px;
                            padding: 10px 0 0 0;
                        }

                    }
                }
            }
        }
    }
}